@section Title{
Agregar Discapaciodad
}
<div class="flex flex-col  w-full p-2 ">

    <form action="#" method="POST">
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
            <div class="pt-3">
                <label for="clave" class="sr-only">Clave</label>
                <input id="clave" name="clave" type="text" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Clave">
            </div>

            <div class="pt-3">
                <label for="nombrecorto" class="sr-only">Nombre corto</label>
                <input id="nombrecorto" name="nombrecorto" type="text" class="appearance-none rounded-none relative block w-full px-3 py-2  border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Nombre corto">
            </div>

            <div class="pt-3">
                <label for="descripcion" class="sr-only">Descripción</label>
                <textarea id="descripcion" name="descripcion" type="text" class="appearance-none rounded-none relative block w-full px-3 py-2  border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Descripcion"></textarea>
            </div>
        </div>



        <div>
            <button type="submit" class="group relative w-full flex justify-center mt-5 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">

                </span>
                Agregar
            </button>
        </div>
    </form>
</div>