
@section Title
{
    Agregar Lengua Indígena
}

<div class="w-full">
    <form class="bg-white rounded px-8 ">
        <label class="block text-gray-700 font-bold mb-2">
            Clave
        </label>
        <input class="shadow appearance-none border rounded w-full px-2 py-3 text-gray-700 focus:shadow-outline focus:outline-none" />
        <label class="block text-gray-700 font-bold mb-2">
            Descripción
        </label>
        <input class="shadow appearance-none border rounded w-full px-2 py-3 text-gray-700 focus:shadow-outline focus:outline-none" />
        <label class="block text-gray-700 font-bold mb-2">
            Nombre corto
        </label>
        <input class="shadow appearance-none border rounded w-full px-2 py-3 text-gray-700 focus:shadow-outline focus:outline-none" />
    </form>

</div>
